.black-small-input-box {
  float: left;
  background: #3c3c3c;
  border: 1px solid #626262;
  width: 70%;
  padding: 5px 0 5px 10px;
  border-top-left-radius: rfs-value(5px);
  border-bottom-left-radius: rfs-value(5px);
  margin: 0;
}
