/*Top Navigation Bar*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
:root {
  --bs-scroll-height: 100vh;
}
.navbar {
  background-color: $white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .title-area {
    width: 100%;
  }
}
// Animation to fade in the dropdown menus
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Assigning the above animation to all dropdown menus
.dropdown-menu {
  &.show {
    animation: fadeIn 0.3s alternate;
  }
}

// Mega Menu adjustments
.nav-item.dropdown.dropdown-mega {
  position: static;
  .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%;
  }
}
.navbar-toggler-wrapper,
.site-title {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}
.navbar-toggler {
  float: right;
  margin: 15px 30px 0 0;
  &:hover {
    background-color: transparent;
  }
}
// Complete styles for main navbar toggler and hamburger menu
.navbar-toggler {
  border: none;
  padding: 0;
  outline: none;
  &:focus {
    box-shadow: none;
  }
  .hamburger-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    z-index: 11;
    float: right;
    .hamburger {
      position: absolute;
      transform: translate(-50%, -50%) rotate(0deg);
      left: 50%;
      top: 50%;
      width: 50%;
      height: 50%;
      pointer-events: none;
      span {
        width: 100%;
        height: 4px;
        position: absolute;
        background: $white;
        border-radius: 2px;
        z-index: 1;
        transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
        left: 0;
        &:first-child {
          top: 10%;
          transform-origin: 50% 50%;
          //transform: translate(0, -50%) !important;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        &:last-child {
          left: 0;
          top: auto;
          bottom: 10%;
          transform-origin: 50% 50%;
        }
      }
      &.active {
        span {
          position: absolute;
          margin: 0;
          &:first-child {
            top: 45%;
            transform: rotate(45deg);
          }
          &:nth-child(2) {
            left: 50%;
            width: 0;
          }
          &:last-child {
            top: 45%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
.site-title {
  .logo {
    //background-image: url(../images/lmseo-01-04-15.png);
    //background-position: 1.5625rem -0.6rem;
    //background-repeat: no-repeat;
    width: 12.5rem;
    height: 4.6875rem;
    display: block;
    //text-indent: -625rem;
    //transition: background-position 0.5s ease-in 0s;
    //&:hover {
    //  background-position: 1.5625rem -5.5rem;
    //}
  }
}
.logo svg {
  padding-top: 5px;
  width: 200px;
  height: 4.4rem;
}
.logo image {
  width: 200px;
  height: 4rem;
  stroke: #ffffff;
  animation: draw-out 5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  &:hover {
    stroke: $white;
    animation: draw-in 5s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
  }
}
.top-bar-section ul li > a {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  padding: 12px 0 12px 1.5625rem;
  text-transform: none;
  width: 100%;
  &:hover,
  &:focus {
    color: $white;
    border-radius: 0.375rem;
  }
  &:hover {
    background-color: $blue;
  }
  &:focus {
    background-color: lighten($hexachromeBlack, 5%);
  }
}
.dropdown-toggle {
  &:hover {
    &::after {
      border-color: transparent transparent transparent rgba(255, 255, 255, 1);
    }
  }
  &::after {
    margin-left: 0.655em;
    vertical-align: 0;
    border: solid 6px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
  }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  transition: background-color 300ms ease-out;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  text-transform: uppercase;
}
.top-bar-section ul li > a {
  color: $white;
  font-family: Trebuchet MS, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

//Navbar
.mask-custom {
  backdrop-filter: blur(5px);
  //background-color: rgba(255, 255, 255, 1);
  background-color: $hexachromeBlack;
}
.navbar-collapse {
  background-color: lighten($hexachromeBlack, 5%);
}
.dropdown-menu {
  background-color: lighten($hexachromeBlack, 10%);
  margin: 6px 1px;
  padding-left: 12px;
}
.dropdown-depth-2 {
  background-color: lighten($hexachromeBlack, 20%);
}
.dropdown-depth-3 {
  background-color: lighten($hexachromeBlack, 30%);
}
.phone-link {
  color: $white;
  &:hover {
    color: $white;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-nav-scroll {
    max-height: none;
    overflow-y: visible;
  }
  /*Dropdown Arrows------------------------------*/
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  .nav-item-depth-0 .dropdown-toggle {
    &:hover {
      &::after {
        border-color: rgba(255, 255, 255, 0.8) transparent transparent
          transparent;
      }
    }

    &::after {
      margin-left: 0.655em;
      vertical-align: -0.2em;
      display: inline-block;
      content: "";
      border: 6px solid;
      border-color: rgba(255, 255, 255, 0.8) transparent transparent transparent;
    }
  }
  .nav-item-depth-1 .dropdown-toggle {
    &:hover {
      &::after {
        border-color: transparent transparent transparent rgba(255, 255, 255, 1);
      }
    }

    &::after {
      margin-left: 0.655em;
      vertical-align: 0;
      border: solid 6px;
      border-color: transparent transparent transparent rgba(255, 255, 255, 0.8);
    }
  }
  /*Header----------------------------------------*/
  /*----------------------------------------------*/
  /*----------------------------------------------*/
  /*----------------------------------------------*/
  /*----------------------------------------------*/
  .navbar {
    border-bottom: 1px solid $hexachromeBlack;
    padding: 0;
    .hide-for-medium-down {
      display: inline;
    }
    .nav-link {
      padding: rfs-value(1.1rem) rfs-value(2.2rem);
    }
    .phone-link {
      padding: 1rem;
      line-height: 2.7rem;
      border-radius: 1rem;
    }
    .top-search-input {
      font-size: 1rem;
      line-height: 2rem;
      padding-left: 0.6rem;
      color: $blue;
      border: 4px solid $blue;
      border-radius: 0.6rem;
      transform: scaleX(1);
      transition: transform 0.3s linear;
      transform-origin: right center;
      grid-area: 2 / 1 / 5 / 8;
      &::placeholder {
        color: $blue;
        transition: color 300ms ease-out;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &:focus-visible {
        outline-width: 0;
      }
      &:focus {
        transform: scaleX(1.1);
      }
    }
    .top-search-input-wrapper,
    .top-search-end-wrapper {
      padding-top: 0;
      position: relative;
      left: 65px;
    }
    .top-search-input-wrapper {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 1fr repeat(3, 14px) 1fr;
      grid-column-gap: 0;
      grid-row-gap: 0;
    }
    .navbar-collapse {
      background-color: transparent;
    }
    .btn-search {
      width: 38px;
      height: 38px;
      //position: absolute;
      //top: 50%;
      //right: 3px;
      //transform: translate(0, -50%);
      background-color: transparent;
      color: $blue;
      padding: 0;
      margin: 0 0 0 0;
      font-size: 1.4rem;
      border-radius: 1rem;
      border-style: solid;
      grid-area: 2 / 7 / 4 / 8;
    }
    .title-area {
      width: auto;
    }
    .top-bar-section .has-form {
      background: transparent;
    }
    .top-form {
      padding-top: 0.9375rem;
    }
    .hide-for-medium-down {
      display: none;
    }
    .top-button {
      @include black-small-button;
      width: 100%;
      color: $white;
      padding: 2px 10px 2px 7px;
      background-color: $blue;
      transition: background-color 300ms ease-out;
      line-height: 2rem;
      text-decoration: none;
      font-size: 1rem;
      &:hover {
        background-color: scale-color($blue, $lightness: -15%);
      }
    }
    .toggle-topbar.menu-icon {
      top: 0;
      margin-top: 16px;
    }
  }
  .dropdown-menu,
  .mask-custom,
  .dropdown-depth-2,
  .dropdown-depth-3 {
    background-color: $hexachromeBlack;
    padding: 12px;
    margin: 0;
  }
  .top-bar-section {
    li:not(.has-form) a:not(.button):not(.home-button) {
      line-height: 4.6875rem;
      padding: 0 1.5625rem;
      font-size: 1rem;
      color: $white;
    }
    ul li > a {
      font-size: 0.9rem;
      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        //background-color: darken($white, 5%);
      }
    }
  }
  /*Triggers dropdown -----------------*/
  /*-----------------------------------*/
  .dropdown > .dropdown-menu {
    border-color: $white;
    color: rgba(255, 255, 255, 0);
    background-color: $hexachromeBlack;
    transform-origin: top left; //Start of the transition
    visibility: hidden;
    transform: translateX(-10%);
    opacity: 0;
    display: block;
    transition: transform 0.2s, opacity 0.2s ease-out;
  }
  .dropdown:hover > .dropdown-menu {
    color: rgba(255, 255, 255, 1);
    display: block;
    transform-origin: top left; //Start of the transition
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    //display: none;
    position: absolute;
    left: 90%;
    top: -25px;
    //border: 0.275rem solid $blue;
  }

  // Mega Menu adjustments
  .nav-item.dropdown.dropdown-mega {
    position: static;
    .dropdown-menu {
      width: 90%;
      top: auto;
      left: 5%;
    }
  }
}
@include media-breakpoint-up(xl) {
  .navbar {
    .top-search-input-wrapper,
    .top-search-end-wrapper {
      padding-top: 0;
    }
  }
}
