@import "../../../parts/footer";
footer {
  background-color: transparent;
  color: $main;
}
.footer {
  background-color: $hexachromeBlack;
  color: $aluminum;
  padding-top: 3.5rem;
  padding-bottom: 6rem;
}
